<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title> 股票趋势</title>
		<link href="../static/css/main.css" rel="stylesheet"/>
		<script type="text/javascript" src="../static/js/jquery-3.6.0.js"></script>
		<script type="text/javascript" src="../static/js/echarts.common.min.js"></script>
		<style>
		</style>
	</head>
	
	<body>
		
		<div id="title">股票趋势</div>
		<div id='zone1'> 区域1 </div>
		<script type="text/javascript" src="../static/js/left01.js"> </script>
		<div id='zone2'> 区域2 </div>
		<div id='zone3'> 区域3 </div>
		<div id='zone4'> 区域4 </div>
		<div id='zone5'> 区域5 </div>

		<script type="text/javascript" src="../static/js/ContrlCenter.js"></script>
		
		<script type="text/javascript" src="../static/js/left01.js"></script>
		<script type="text/javascript" src="../static/js/left02.js"></script>
		<script type="text/javascript" src="../static/js/center02.js"></script>
		
	</body>
	
	
</html>
